
/* GLOBAL STYLE */
}
html, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  width: 100vh;
  min-width: 940px;
  height: 100%;
}
body a {
  font-size: 13px;
  color: #000;
  text-decoration: none;
}


/* HEADER STYLE */

.header {
  width: 100%;
  min-width: 940px;
  height: 50px;
  position: absolute;
  text-decoration: none;
  padding-top: 21px;
}
.header-nav > li {
  display: inline-block;
}
.header-nav .fleft {
  float: left;
  padding-left: 20px;
}
.header-nav .fright {
  float: right;
  padding-right: 20px;
}
.header img {
width: 18px;
height: 18px;
opacity: 0.5;
}

.sign-in {
background-color: #4285f4;
color: #fff;
font-weight: bold;
border-radius: 2px;
padding: 6px 12px 6px 12px;
border: 1px solid #4285f0;
margin-right: 10px;
}


/* CONTENT STYLE */

.google-wrapper {
  position: absolute;
  display: block;
  padding-top: 20vh;
  padding-left: 33vh;
  margin: auto;
  width: 50%;
}

.google-logo {
  width: 260px;
  height: auto;
  padding-top: 45px;
  padding-left: 350px;
}
.search {
  padding-left: 250px;
}
.search input {
  font-size: 16px;
  border: 1px solid;
  border-color: #eee;
  background-color: white;
  padding-left: 15px;

  width: 450px;
  height: 40px;
  display: inline-block;
  box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.2);
}
.mic {
  position: fixed;
  margin-top: -85px;
  margin-left: 435px;
  height: 25px;
  width: 23px;
}

.buttons {
  padding-top: 15px;
  padding-left: 100px;
  width: 400px;
}
.google-button, .lucky-button {
    background-color: #eff0f2;
    color: #7b7c7c;
    border: none;
    padding: 10px 16px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
}

/* FOOTER STYLE */

.footer {
text-decoration: none;
position: absolute;
bottom: 0;
width: 100%;
min-width: 940px;
height: 50px;
background-color: #eff0f2;
border-top: 0.5px solid #e0e1e5;
}
.footer-nav {
  padding-top: 0px;

}
.footer-nav > li {
  display: inline-block;
}
.bleft {
  float: left;
  padding-left: 28px;
  opacity: 0.6;
}
.bright {
  float: right;
  padding-right: 28px;
  opacity: 0.6;
}
