/* GLOBAL STYLE */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100vw;
  min-width: 940px;
  height: 100%;
}

body a {
  font-size: 13px;
  color: #000;
  text-decoration: none;
}


/* HEADER STYLE */

.header {
  width: 100%;
  min-width: 940px;
  height: 30px;
  position: absolute;

}
.header a{
  text-decoration: none;
}
.header-nav > li {
  display: inline-block;
  padding-top: 0px;
}
.header-nav .fleft {
  float: left;
  display: inline-block;
  padding-left: 7px;
}
.header-nav .fright {
  float: right;
  padding-right: 7px;
}
.header img {
width: 30px;
height: 30px;
}

.sign-in {
background-color: #4285f4;
color: #fff;
font-weight: bold;
padding: 7px 13px 7px 12px;
border-radius: 2px;
border: 1px solid #4285f4;
}


/* CONTENT STYLE */

.google-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding-top: 20vh;
}

.google-logo {
  height: 194px;
  width: 400px;
}

.search input {
  font-size: 16px;
  border: 1px solid;
  border-color: #eee;
  background-color: white;
  padding-left: 15px;
  width: 585px;
  height: 46px;
  display: block;
  box-shadow: 0.5px 2px 2px 0.5px rgba(0,0,0,0.2);
}

.mic {
position: fixed;
margin-top: -65px;
margin-left: 550px;
  height: 25px;
  width: 23px;
}
.buttons {
  width: 400px;
}
.googbutt, .luckbutt {
    background-color: #eff0f2;
    color: #7b7c7c;
    border: none;
    padding: 7px 16px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
}
.luckbutt {
  float: right;
}


/* FOOTER STYLE */

.footer {
text-decoration: none;
position: absolute;
bottom: 0;
width: 100%;
min-width: 940px;
height: 40px;
background-color: #eff0f2;
border-top: 0.3px solid #e0e1e5;
}

.footer-nav {
  position: relative;
}
.footer-nav > li {
  display: inline-block;
}

.bleft {
  line-height: 0.5em;
  float: left;
  padding-left: 30px;
  opacity: 0.6;
}
.bright {
  line-height: 0.5em;
  float: right;
  padding-right: 30px;
  opacity: 0.6;
}
